html,
body {
    font-family: Lexend, sans-serif;
    height: 100%;
}

body,
#host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#host {
    width: 100%;

}

svg {
    border-bottom: 1px dashed grey;
}

svg:last-child {
    border-bottom: none;
}

.text {
    font-size: 24px;
    font-weight: bold;
    font-family: Lexend, sans-serif;
}
